@media (min-width: 769px) {
    body {
        margin: 0;
    }
    
    .Inicio {
        height: 100vh;
        background: linear-gradient(
          to bottom,
          #feb4cd 0%,
          #feb4cd calc(50% - 1px),
          black calc(50% - 1px),
          black calc(50% + 3px),
          #fff35f calc(50% + 1px),
          #fff35f 100%
        ); 
    }
    
    .barra-menu {
        display: flex;
        justify-content: flex-end;
        gap: 100px;
        padding: 20px;
        font-weight: bold;
        font-family: Arial, sans-serif;
    }
    
    .barra-menu a {
        text-decoration: none;
        color: black;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        gap: 6px;
    }
    
    .icono-img {
        width: 1em;
        height: 1em;
        object-fit: contain;
    }
    
    .Nosotros {
        height: 100vh;
        background-color: #fff35f;
    }
    
    .Galeria {
        height: 100vh;
        background: linear-gradient(
          to bottom,
          white 0%,
          white calc(65% - 1px),
          black calc(65% - 1px),
          black calc(65% + 1px),
          #ff6541 calc(65% + 1px),
          #ff6541 100%
        );
    }

    .Precios {
        height: 100vh;
        display: grid;
        grid-template-areas:"s1 s1 s2 s3 s4"
                            "s5 s5 s2 s3 s4"
                            "s6 s7 s7 s8 s8"
                            "s6 s7 s7 s9 s9";
        border: 1px solid black;
    }

    .caja {
        border: 1px solid black;
    }

    .caja1 {
        grid-area: s1;
        background-color: #feb4cd;
    }

    .caja2 {
        grid-area: s2;
        background-color: #fff35f;
    }

    .caja3 {
        grid-area: s3;
    }

    .caja4 {
        grid-area: s4;
        background-color: #0357ef;
    }

    .caja5 {
        grid-area: s5;
        background-color: #feb4cd;
    }

    .caja6 {
        grid-area: s6;
        background-color: #fff35f;
    }

    .caja7 {
        grid-area: s7;
        background-color: black;
    }

    .caja8 {
        grid-area: s8;
        background-color: #ff6541;
    }

    .caja9 {
        grid-area: s9;
        background-color: #feb4cd;
    }
    
    .Contacto {
        height: 90vh;
        background-color: #feb4cd;
    }
}
